html {
  min-height: 100%;
}

/* line 16, ../sass/app.scss */
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-image: url('bg.jpg');
  background-color: #333;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 100%;
  font-size: 32px;
  line-height: 1.4em;
  color: #fff;
  font-family: "Arial", sans-serif;
}

#main {
  padding: 1em;
  background: rgba(0,0,0,0.3);
}

#main h1, #main p, footer {
  text-shadow: 0 0 3px #000, 0 0 30px #000;
}

#main h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 1em;
}

#main small {
  display: block;
  font-size: 0.5em;
  line-height: 1.4em;
  text-shadow: 0 0 3px #000, 0 0 30px #000;
  padding-top: 1em;
}

a {
  color: #fff;
  text-shadow: none;
  font-weight: bold;
}

a:hover {
  text-shadow: 0 0 3px #000, 0 0 30px #000;
}

footer {
  display: block;
  font-size: 16px;
  line-height: 1em;
  background: rgba(0,0,0,0.5);
  padding: 0.5em 2em;
  position:relative;
}

#creature {
  font-size: 16px;
  line-height: 1.4em;
}

#creature .attribution small {
  display: inline;
  font-size: 1em;
}

#creature dl {
  padding: 0.5em;
  background: #333;
  background: rgba(0,0,0,0.6);
  max-width: 400px;
  margin: auto;
}

#creature .power {
  padding: 0.5em;
  background: #333;
  background: rgba(0,0,0,0.6);
  max-width: 400px;
  margin: auto;
}

#creature dt {
  float: left;
  clear: left;
  width: 200px;
  text-align: right;
  font-weight: bold;
}

#creature dd {
  margin: 0 0 0 210px;
  padding: 0 0 0.5em 0;
}

hr { 
  clear: both;
  margin: 2em;
}
